# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
*.egg-info/
dist/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache

# Sphinx documentation
docs/_build/
